.p-dashboard {
  padding: 10px;
  background: #EDF2F7;
  color: #ffffff;
}

.p-dashboard h1 {
  color: #000111;
}

.p-dashboard__title {
  color: #ffffff;
}

.p-dashboard__content {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.p-dashboard__card {
  width: 400px;
}